@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM VGA 8x16";
  src: url("/fonts/WebPlus_IBM_VGA_8x16.woff") format("woff");
  font-display: swap;
}

html,
body,
#root {
  font-family: "IBM VGA 8x16", "Courier New", monospace;
  line-height: 16px;
  font-size: 16px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .retro-btn {
    @apply bg-[#d08a1f] px-5 py-1 font-bold text-slate-900;
    border-top: 3px solid #f6c26b;
    border-left: 3px solid #f6c26b;
    border-bottom: 3px solid #7a4d00;
    border-right: 3px solid #7a4d00;
  }

  .retro-btn:hover {
    @apply text-orange-200;
  }

  .retro-btn:active {
    border-top: 3px solid #7a4d00;
    border-left: 3px solid #7a4d00;
    border-bottom: 3px solid #f6c26b;
    border-right: 3px solid #f6c26b;
  }

  .retro-btn:active .label {
    transform: translate(2px, 2px);
  }

  .retro-btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .retro-scrollbar {
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: #d08a1f #1e293b; /* thumb track */
  }

  /* Chrome / Edge / Safari */
  .retro-scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  /* Chrome / Edge / Safari */
  .retro-scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .retro-scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
  }

  .retro-scrollbar::-webkit-scrollbar-thumb {
    background: #d08a1f;
    border-radius: 0; /* remove pill look */
    box-shadow:
      inset 2px 2px 0 #f6c26b,
      /* top + left highlight */ inset -2px -2px 0 #7a4d00; /* bottom + right shadow */
  }

  .retro-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e6a33f;
  }

  .retro-scrollbar::-webkit-scrollbar-thumb:active {
    box-shadow:
      inset 2px 2px 0 #7a4d00,
      /* invert bevel when pressed */ inset -2px -2px 0 #f6c26b;
  }
}
